.availability-form {
    margin-top: -50px;
    z-index: 10;
    position: relative;
}

.pointer {
    cursor: pointer;
}

@media screen and (max-width: 575px) {
    .availability-form {
        margin-top: 20px;
        padding: 0 35px;
    }
}
