.hidden {
    display: none;
}

#dashboard-menu {
    position: fixed;
    height: 100% !important;
}

/* ----------------------------------------------------------------------------- */
#side_nav {
    background-color: #000;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.4s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background-color: #eee;
}

.sidebar li.active {
    background-color: #eee;
    border-radius: 8px;
}

.sidebar li:hover:not(.active) {
    background-color: #292525;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

.nav-bg {
    background-color: #dfdfdf;
}

.profile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition-duration: 0.3s;

}

.profile:hover .frofile-card {
    display: block !important;

}

.profile:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.frofile-card:hover {
    display: block !important;

}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profile div.frofile-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 38px;
    width: 200px;
    height: 100px;
    transition: opacity 0.5s;
    display: none;

}

div.frofile-card .details .img {
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.15)!important;

}

div.frofile-card .details p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 0.7rem;
}

div.frofile-card .details .email {
    font-size: .65rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 0.7rem;
    text-align: center;
    word-break: break-all;
}

div.frofile-card .action {
    border-radius: 0 0 .25rem .25rem;
    font-size: 12px;
    line-height: 0;
}

div.frofile-card .action span {
    letter-spacing: 1px;
}


@media (max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }

    #side_nav.active {
        margin-left: 0;
    }
}
